<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/medicaHistory.css">
</head>

<body>
    <header>
        <h1><%= title %></h1>
    </header>

    <nav>
        <a href="/index">หน้าหลัก</a>
        <!-- <a href="/patientHistory/<%= patient ? patient.id : '' %>">ประวัติการซักประวัติ</a> -->
        <a href="/examinationroom/<%= patient ? patient.id : '' %>">ห้องตรวจ</a>
        <a href="/patients">ข้อมูลผู้ป่วย</a>
    </nav>

    <div class="container">
        <% if (patient && medicalfrom) { %>
            <div class="patient-list">
                <div class="patient-entry">
                    <h3>ประวัติผู้ป่วย</h3>
                    <div class="patient-row">
                        <div class="patient-label">HN:</div>
                        <div class="patient-value"><%= patient.HN %></div>

                        <div class="patient-label">ชื่อ:</div>
                        <div class="patient-value"><%= patient.fname %></div>

                        <div class="patient-label">นามสกุล:</div>
                        <div class="patient-value"><%= patient.lname %></div>
                    </div>

                    <div class="patient-row">
                        <div class="patient-label">น้ำหนัก:</div>
                        <div class="patient-value"><%= medicalfrom.weight %></div>

                        <div class="patient-label">ส่วนสูง:</div>
                        <div class="patient-value"><%= medicalfrom.height %></div>

                        <div class="patient-label">ความดันโลหิต:</div>
                        <div class="patient-value"><%= medicalfrom.bloodPressure %></div>
                    </div>

                    <div class="patient-row">
                        <div class="patient-label">ชีพจร:</div>
                        <div class="patient-value"><%= medicalfrom.pulse %></div>

                        <div class="patient-label">O2Sat:</div>
                        <div class="patient-value"><%= medicalfrom.o2Sat %></div>

                        <div class="patient-label">อัตราการหายใจ:</div>
                        <div class="patient-value"><%= medicalfrom.respiratoryRate %></div>
                    </div>

                    <div class="patient-row">
                        <div class="patient-label">BMI:</div>
                        <div class="patient-value"><%= medicalfrom.bmi %></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>
                    </div>

                    <div class="patient-row2">
                        <div class="patient-label2">อาการสำคัญ:</div>
                        <div class="patient-value2"><%= medicalfrom.symptoms %></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>
                    </div>

                    <div class="patient-row2">
                        <div class="patient-label2">ประวัติปัจจุบัน:</div>
                        <div class="patient-value2"><%= medicalfrom.currentHistory %></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>
                    </div>

                    <div class="patient-row2">
                        <div class="patient-label2">ประวัติอดีต:</div>
                        <div class="patient-value2"><%= medicalfrom.pastHistory %></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>

                        <div class="patient-label"></div>
                        <div class="patient-value"></div>
                    </div>
                </div>
            </div> <br><br>

            <button>
                <a href="/medicalHistory/edit/<%= patient.id %>" style="text-decoration: none; color: white;">แก้ไขข้อมูลการซักประวัติ</a>
            </button><br><br>

            <!-- <button class="button2">
                <a href="/medicalHistory/delete/<%= patient.id %>" style="text-decoration: none; color: white;">ลบข้อมูลการซักประวัติ</a>
            </button><br><br>  -->
        <% } else { %>
            <p>ไม่พบข้อมูลผู้ป่วย</p>
        <% } %>

        <button class="button3" onclick="goBack()">ย้อนกลับ</button>
    </div>

</body>

<script>
    function goBack() {
    window.history.back(); // หรือใช้ window.history.go(-1);
}
</script>

</html>
