<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อัปเดตข้อมูลผู้ป่วย - <%= title %></title>
    <link rel="stylesheet" href="/css/updatePatient.css">
</head>

<body>
    <header>
        <h1>อัปเดตข้อมูลผู้ป่วย</h1>
    </header>

    <nav>
        <a href="/">หน้าหลัก</a>
        <a href="/patients">ข้อมูลผู้ป่วย</a>
        <a href="/patients/add">บันทึกข้อมูลผู้ป่วยใหม่</a>
    </nav>

    <div class="container">
        <!-- ฟอร์มอัปเดตข้อมูลผู้ป่วย -->
        <form class="update-form" action="/patients/update/<%= patient.id %>" method="POST">
            <div class="form-group">
                <label for="height">ส่วนสูง</label>
                <input type="text" id="height" name="height" value="<%= patient.height %>" required>
            </div>

            <div class="form-group">
                <label for="weight">น้ำหนัก</label>
                <input type="text" id="weight" name="weight" value="<%= patient.weight %>" required>
            </div>

            <div class="form-group">
                <label for="bmi">BMI</label>
                <input type="text" id="bmi" name="bmi" value="<%= patient.bmi %>" required>
            </div>

            <div class="form-group">
                <label for="blood_pressure">ความดันโลหิต</label>
                <input type="text" id="blood_pressure" name="blood_pressure" value="<%= patient.blood_pressure %>" required>
            </div>

            <div class="form-group">
                <label for="reason_for_visit">สาเหตุที่มาพบแพทย์</label>
                <textarea id="reason_for_visit" name="reason_for_visit" rows="4" required><%= patient.reason_for_visit %></textarea>
            </div><br>

            <div class="form-group">
                <label for="treatment_history">ประวัติการรักษา</label>
                <textarea id="treatment_history" name="treatment_history" rows="4" required><%= patient.treatment_history %></textarea>
            </div>

            <button type="submit">อัปเดตข้อมูล</button>
            <button class="button2" onclick="goBack()">ย้อนกลับ</button>
        </form>
    </div>
</body>

<script>
    function goBack() {
    window.history.back(); // หรือใช้ window.history.go(-1);
}
</script>


</html>
